---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Stack from '../components/Stack.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Carlos Vélez | Desarrollador Backend">
  <main>
    <Hero />
    <About />
    <Stack />
    <Experience />
    <Contact />
    <Footer />
  </main>
</Layout>

